body {
    
    background: url(../images/hero.jpg);
}

.body-container {
    width: 90%;
    height: 80%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: auto;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: 48px;
    margin-right: 48px;

}
.container-left-menu {
    width: 20%;
    height: 80%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: left;
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border: 4px double white;
    transition: 0.2s;
    position: relative;
}

.container-right {
    width: 75%;
    height: 80%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    border: 4px  double white;
}
.redact-button {
    display: block;
    width: 90%;
    font-weight: 400;
    font-size: 17px;
    color: white;
    background: #ff6633;
    text-align: center;
    border: 1px solid #ff6633;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
    margin-left: 5%;
  }
.redact-button:hover{
  background: transparent;
  color: white;
  border:2px solid #333;}

span.personal-data {
    color:#ed6427;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    text-align: center;
    margin-top: 10px;
}

span.personal-data-auto {
    color:#ed6427;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-bottom: auto;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
 }
 .user-info{
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: auto;
    height: auto;
    
 }
 .logo-redact{
    display: flex;
    justify-content: center;
 }
 
 .select-car{
    border: 4px double white;
    outline: none;
    background: black;
    border-bottom: 4px double white; /* Линия под полем ввода */
    color: white; /* Цвет текста */
    box-sizing: border-box;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    -webkit-appearance: menulist-button;
   height: 60px;
 }
 .input_redact{
    height: auto;
    background-color: transparent;
    margin: auto;
 }
 #div_redact_profil {
    display: flex;
  }







