body {
    background-color: white;
}

.body-container {
    width: 90%;
    height: 80%;
    background-color: rgb(39, 39, 39);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: 48px auto;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: 48px;
    margin-right: 48px;

}
.container-left-menu {
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: 48px left;
    display: flex;
    border: 10px  black;
}

.container-right {
    width: 75%;
    height: 100%;
    background-color: white;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: 48px right;
    margin-left: auto;
    display: flex;
    border: 10px  black;
}


